name: Build and publish a Docker image

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository}}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
        - target: cpu
          platforms: linux/amd64,linux/arm64
        - target: gpu
          platforms: linux/amd64
          
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf /opt/ghc
          sudo rm -rf /home/runner/.rustu
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /opt/hostedtoolcache
          docker system prune -af || true
          docker builder prune -af || true
          df -h
          
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metada (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{env.IMAGE_NAME}}
          tags: |
            type=semver,pattern={{version}}-${{ matrix.target }}
            type=raw,value=latest-${{ matrix.target }}
            type=raw,value=latest,enable=${{ matrix.target == 'cpu' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
          
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with: 
          context: .
          file: ./docker/Dockerfile
          target: ${{ matrix.target }}
          platforms: ${{ matrix.platforms }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
